<% include partials/header %>
<h1>Login Widget with passport.js</h1>

<p>You may sign up first!</p>

<p>
<a class="btn btn-primary" href="/register">Sign Up</a>
<a class="btn btn-success" href="/login">Login</a>
<a class="btn btn-danger" href="/logout">Logout</a>
</p>

<p><a class="btn btn-warning btn-lg" href="/">Back to Index</a></p>
<% include partials/footer %>