<% include partials/header %>
<h1>Hi! <%= currentUser.username %>, this is Log-in Area</h1>

<p>You have successfully been log-in!</p>

<p>
<a class="btn btn-danger" href="/logout">Logout</a>
</p>

<p><a class="btn btn-warning btn-lg" href="/">Back to Index</a></p>
<% include partials/footer %>